body {
  background-color: #003470;
  background: linear-gradient(145deg, #003470, #001328);


  margin: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,input { font-family: 'Roboto Condensed', sans-serif;}

:root {
  --border-color: #003168;
  --card-bkg-color: #8DC2FF50;
  --btn-bkg-danger: #e63946;
  --btn-bkg-danger-hover: #7F1019;
}

.title {
  font-size: 6vw;
  color: #004FA9;
  text-align: center;
  text-shadow: 1px 1px 1px #001328, 1px 1px 1px #001328;
  box-shadow: 11.41px 11.41px 24px #003470, -11.41px -11.41px 24px #001328;
  background: linear-gradient(145deg, #004FA9, #001328);
}
.title:hover {
    transform: scale(1.05) ;
    transition:  all 1s ;
}

.final {
  color: #ffffff50;
}


.redes a {
    color: #936f6f;
    background: linear-gradient(145deg, #003470, #001328);
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 10px;
    margin: 10px;
    box-shadow: 11.41px 11.41px 24px #003470, -11.41px -11.41px 24px #001328;

}
.redes:hover {
    transform: scale(1.05) ;
    transition:  all 1s ;
}
